* {
    margin:0;
    box-sizing: border-box;

}

header {
    background-color: #E5E5E5;
    background-image: url(/img/logo-batman.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 188.19px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

h1 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 12px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    background-color: #C4C4C4;
    color: #005677;
    font-size: 20px;
    letter-spacing: 5px;
    text-indent: 14px;
}

.personal {
    font-style:italic;
    font-weight: bold;
}

.years {
    font-weight: bold;
    margin-left: -20px;
}

div {
    height: 136px ;
}

#datos {
    height: 131px;
    line-height: 20px;
}

#formacion {
    height: 161px;
    line-height: 18px;

}

#experiencia {
    height: 314px;
    line-height: 18px;

}

p {
    margin-left: 55px;
}


.list {
    list-style: none;
}

ul {
    margin-top: 26px;
}

footer {
    background-color: #005677;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 36px;
}

footer .social {
    margin: 0 16px 0 16px;
    color: #fff;

}